[2019-11-05 11:46] joaomcarlos opened #2 "Updates to the CSS"
Hi,

Awesome theme!

I found a few small problems however, I fixed them. They are probably due to GitHub changing their html.

Would you mind implementing this changes back and updating the theme for everyone? :D

Keep up the good work.

[code]

[2019-11-05 16:22] CharlieEtienne commented on #2
I just updated the theme with your changes, thanks @joaomcarlos

[2019-11-05 16:22] #2 closed, assigned to nobody

[2019-11-19 08:10] poly2d opened #3 "Style of unhovered selected menu item"
Hello! Reporting an inconsistency in the theme. On certain pages, the color of the selected menu item does not seem to get styled on mouse hover out.

I found this type of menu in:
- https://github.com/settings/profile
- https://github.com/CharlieEtienne/material-github/pulse

![out](https://user-images.githubusercontent.com/43548622/69127288-dbdb3000-0a5e-11ea-9a06-205c337c5c06.gif)

[2019-11-21 14:01] #3 closed, assigned to nobody

[2019-11-23 07:01] poly2d opened #4 "Style of PR toolbar"
Hello! 👋
Issue-ing another small style suggestion.

<img width="789" alt="Screen Shot 2019-11-22 at 10 52 20 PM" src="https://user-images.githubusercontent.com/43548622/69474859-0c7eda80-0d7b-11ea-97bb-7a94d8aa7171.png">

I noticed that the toolbar found under  'Pull requests > Files changed' in a repo page does not have the theme colors. I did not notice it before, maybe it could be due to a rece

[2019-11-23 13:36] CharlieEtienne commented on #4
Thank you @poly2d

[2019-11-23 13:37] #4 closed, assigned to nobody

[2020-02-15 10:04] xan2622 opened #7 "New Notifications (BETA) not fully themed"
Hi

If you enable the new Notifications (BETA), you notice that the main part of the page is still white (un-themed).

https://github.com/notifications/beta?query=is%3Aunread

Especially, take a look at these lines:

[code]

[2020-02-17 20:39] #7 closed, assigned to nobody

[2020-02-29 15:36] Suburbanno opened #8 "The theme does not work in the activity tab"
![image](https://user-images.githubusercontent.com/13632826/75610459-0faf0280-5af0-11ea-94b2-ee042a02c722.png)

[2020-02-29 16:41] Suburbanno opened #10 "Explore background is white"
![image](https://user-images.githubusercontent.com/13632826/75611429-2b6ad680-5af9-11ea-9007-c3a91f0338d5.png)

[2020-03-20 08:29] FadeMind opened #11 "user-status-container border position-relative hide-sm hide-md is white background"
https://gist.github.com/CHEF-KOCH

![20200320-1584692920-001](https://user-images.githubusercontent.com/9846948/77147290-33c98800-6a8d-11ea-84f2-f68c8b4e13fd.png)

![20200320-1584692957-001](https://user-images.githubusercontent.com/9846948/77147347-49d74880-6a8d-11ea-949c-59f04e062158.png)
![20200320-1584692944-001](https://user-images.githubusercontent.com/9846948/77147348-4b087580-6a8d-11ea-816

[2020-03-21 15:17] MarcinWieczorek opened #12 "Pull request sticky bar has white background"
Sticky bar has white background - can be seen on pull request details, for example here: https://github.com/django/django/pull/12572/files
Can be fixed with:
[code]

![scrot-1584803701](https://user-images.githubusercontent.com/3466984/77229633-4e842580-6b8f-11ea-9060-2926fc3fb520.png)

[2020-03-22 20:41] #11 closed, assigned to nobody

[2020-03-22 20:43] #12 closed, assigned to nobody

[2020-03-22 21:05] CharlieEtienne commented on #8
Hi, can you please update and check if it's solved ? I'm not sure but I think I commited without closing this issue...

Thanks

[2020-03-22 21:15] #10 closed, assigned to nobody

[2020-03-22 21:19] Suburbanno commented on #8
@CharlieEtienne The issue has not been resolved.

[2020-03-22 21:49] CharlieEtienne commented on #8
@Suburbanno Could you provide a link ? Are we speaking about github homepage (where you can see activity) ?
Thanks

[2020-03-22 21:51] Suburbanno commented on #8
@CharlieEtienne
![image](https://user-images.githubusercontent.com/13632826/77261568-1869a300-6c6e-11ea-9058-f7ca63d1d816.png)

[2020-03-22 21:56] CharlieEtienne commented on #8
@Suburbanno ok that's weird, it works on mine... I'm trying to find out why.

[2020-03-22 22:04] CharlieEtienne commented on #8
@Suburbanno mmh, I can't reproduce it... Are you able to identify the problematic selector ?

[2020-03-22 22:54] Suburbanno commented on #8
@CharlieEtienne here?
:root {
    --github-green:  #28a745;
    --github-red:  #cb2431;
    --github-gray-background:  #fafbfc; <-
    --github-gray-text:  #6a737d;
    --github-faint-yellow:  #fffbdd;
}

[2020-03-22 23:31] CharlieEtienne commented on #8
@Suburbanno could you try to update from https://userstyles.org/styles/174317/material-dark-github now ? I tried something...

[2020-03-22 23:35] Suburbanno commented on #8
@CharlieEtienne I have the same problem, I cleared the browser cache and updated the style.

[2020-03-22 23:39] CharlieEtienne commented on #8
maybe @Alex-D who liked your post could help to define which class is affected ?

[2020-03-22 23:52] Alex-D commented on #8
It's due to usage of [Refined GitHub](https://github.com/sindresorhus/refined-github)
The selector/style injected by Refined GitHub is:

[code]

So you need to override the background and border color :)

[2020-03-23 00:09] CharlieEtienne commented on #8
Many thanks @Alex-D !

I updated theme on userstyles.org, hope it does a nice job (?)

[code]

[2020-03-23 00:09] #8 closed, assigned to nobody

[2020-03-23 00:12] Alex-D commented on #8
Yep, fixed :)

[2020-03-25 07:58] FadeMind opened #14 "Inbox selected tab text"
IT IS
https://github.com/notifications/beta?query=is%3Aunread

![20200325-1585122539-001](https://user-images.githubusercontent.com/9846948/77513902-1ffb9880-6e76-11ea-8bea-8ab0d2e455e3.png)

SHOULD BE (I selected random darker color from picker for good apperance)
![20200325-1585122850-001](https://user-images.githubusercontent.com/9846948/77513953-37d31c80-6e76-11ea-85cd-b6b4d1fe6955.png)

CHROM

[2020-03-25 15:26] CharlieEtienne commented on #14
Hi, thanks for your suggestion, but I don't think I will implement that unfortunately.
I agree maybe with a darker background color for active menu to improve contrast, but I don't like the text color on links.
I'm trying to follow official material theme guidelines

[2020-03-25 15:26] #14 closed, assigned to nobody

[2020-03-26 14:33] FabianLars opened #15 "developer.github.com articles unreadable"
for example:
[https://developer.github.com/webhooks/](https://developer.github.com/webhooks/)
or
[https://developer.github.com/changes/](https://developer.github.com/changes/)

Font and Background color is almost the same:
![image](https://user-images.githubusercontent.com/30730186/77658267-bca55f80-6f76-11ea-9850-2a800e43d2cb.png)

I hope this isn't just my color blindness kicking in lol

[2020-03-26 15:11] CharlieEtienne commented on #15
Hi @FabianLars , no you're right 😄 !

I'll look into this in the weekend maybe, but PRs are welcome !

Cheers

[2020-03-29 19:26] CharlieEtienne opened #18 "Style docs.github.com"
This part of GitHub needs to be themed too:

https://help.github.com

PRs are welcome if you want to work on that.

[2020-03-29 20:04] #15 closed, assigned to nobody

[2020-03-29 21:24] CharlieEtienne commented on #15
Hi @FabianLars, I think it's done (it might be imperfect, because the number of different pages and styles in developer part is huge)

[2020-04-08 13:45] FadeMind opened #19 "MORE COMMENTS background is white"
See page: `https://github.com/meefik/linuxdeploy/issues/409` (CODED against referenced GH)

![Screenshot_20200408_153101](https://user-images.githubusercontent.com/9846948/78790934-840e7880-79af-11ea-9264-7195d12380ac.png)

![Screenshot_20200408_153342](https://user-images.githubusercontent.com/9846948/78790941-85d83c00-79af-11ea-8a01-07c870f47983.png)

[2020-04-16 14:44] FadeMind opened #20 "Box-row Box-row--gray iin Recovery Option is not readable"
With enabled material github
`Box-row Box-row--gray` is white and strong field `Recovery Options` is not visible.

![20200416-1587047310-001](https://user-images.githubusercontent.com/9846948/79470269-7f763f80-8001-11ea-8826-25863fc4b5dd.png)
![20200416-1587047306-001](https://user-images.githubusercontent.com/9846948/79470284-81400300-8001-11ea-89b8-e3dbce90ebe8.png)

[2020-04-20 07:34] maelmadon opened #21 "Upper bar appears white, desappear upon refreshing"
Hello! I really like this style, thanks for maintaining it!

I experience an annoying problem on my machine, I don't even know if there is anything you can do for it.

## Bug report
Sometimes, when opening a github window in an other tab for example, the upper bar on top appears white as in the screenshot below:

![image](https://user-images.githubusercontent.com/36968988/79724948-b2ae1c80-82e8-11

[2020-04-27 13:35] xan2622 opened #22 "Make the Notifications page darker"
Hi.

I think that some colors of the [Notifications page](https://github.com/notifications?query=is%3Aunread) are a bit too bright.

![Annotation 2020-04-27 152201](https://user-images.githubusercontent.com/1732773/80377150-26c56300-889b-11ea-9653-b2b04ed09c10.png)

- **Inbox** / **Saved** / **Done** `<li>`:
Maybe you could replace this color by #324149 ?

- Also, could you make the color of _Unre

[2020-05-03 09:55] stirante opened #23 "Add background to inline code"
The background for inline code is pretty much invisible in lists.

* This is test `here is inline code`

Example without list `here is inline code`

In case it's only looking like that in my browser, this is example from project wiki:
![image](https://user-images.githubusercontent.com/2420740/80911059-10eced80-8d34-11ea-9f28-ff36edf625ff.png)

[2020-05-12 17:07] deadcoder0904 opened #24 "Style Discussions"
Example: https://github.com/zeit/now/discussions

![discussions](https://user-images.githubusercontent.com/16436270/81723904-28994400-94a1-11ea-8b6a-c6a8570223c1.PNG)

[2020-05-23 10:46] jnsn opened #25 "viewed checkbox on a PR is not properly styled"
When unchecked, the `viewed` checkbox looks OK, but when it's selected the markup is barely readable.

![image](https://user-images.githubusercontent.com/348453/82728856-6729cc80-9cf3-11ea-9c41-addce24a8042.png)
![image](https://user-images.githubusercontent.com/348453/82728835-46617700-9cf3-11ea-92dc-dadbb8b9c1d6.png)

[2020-05-23 10:48] jnsn opened #26 "comments on added PR text are barely readable"
Comments seem to be styled in a grayish color, but on the green background of added lines in a PR they are barely readable.

![image](https://user-images.githubusercontent.com/348453/82728908-a6f0b400-9cf3-11ea-8a82-890bab056cf8.png)

[2020-05-24 20:43] #19 closed, assigned to nobody

[2020-05-24 20:52] CharlieEtienne commented on #20
Hide @FadeMind , thanks for reporting this. Where can I find this dropdown menu ? I can't find it and it would be easier for me to test it before committing.

[2020-05-24 20:58] CharlieEtienne commented on #21
Hi @Mema5 , thanks for reporting this. Indeed this is weird...
Could you paste here the full tag class attribute ?

[2020-05-24 21:21] #22 closed, assigned to nobody

[2020-05-24 21:25] #23 closed, assigned to nobody

[2020-05-24 21:28] #24 closed, assigned to nobody

[2020-05-24 21:30] CharlieEtienne commented on #25
Hi @jnsn , thanks for reporting this.

Todo:

- [ ] Add some fake checkboxes
- [x] Check one of them

[2020-05-24 21:33] CharlieEtienne commented on #25
Oh sorry I thought you were speaking of comments checkboxes... Obviously not! 😃
Do you have a link or some steps to follow to see this behaviour ?

Thanks,

Charlie

[2020-05-24 21:38] jnsn commented on #25
Sure!

If you to the files tab of a PR, for example this one: https://github.com/CharlieEtienne/material-github/pull/17/files, there's a checkbox to the right of each file which you can toggle to collapse the file and mark it as _viewed_.

![image](https://user-images.githubusercontent.com/348453/82765450-76a23600-9e17-11ea-94da-a58b425bebfe.png)

[2020-05-24 21:47] #26 closed, assigned to nobody

[2020-05-24 22:03] #25 closed, assigned to nobody

[2020-05-24 22:05] CharlieEtienne commented on #25
Thank you, and sorry for having misread, I just figured out that everything was in the title of your issue...

Anyway, it's fixed!

[2020-05-24 22:45] maelmadon commented on #21
Hi @CharlieEtienne ! What exactly do you want? I pasted below the full HTML for the header element... Let me know if you need something else!

[code]
</details>

[2020-05-25 06:46] FadeMind commented on #20
https://github.com/settings/security

Two-factor authentication section

I deleted personal data setup here.

![20200525-1590388942-001](https://user-images.githubusercontent.com/9846948/82785936-d58d9c80-9e63-11ea-8edd-c025a6ee4b29.png)
![20200525-1590388761-001](https://user-images.githubusercontent.com/9846948/82785939-d7576000-9e63-11ea-87cb-7a6882dc1758.png)

![20200525-1590389108-001](https:

[2020-05-26 20:07] lf- opened #27 "bg colours missing?"
Hi!

I installed this style from style.css in this repo and the background of most of the site was still white, making it effectively unusable since you can't read any of the light text on white.

It appears that the CSS declarations setting `--bg1`, `--bg2`, etc to whatever colour they are supposed to be are missing?

userstyles.org is falling over as seems to often be the case so I have not been

[2020-05-26 20:10] lf- commented on #27
aha, it works when installed from userstyles.org. it finally installed. For the future though it would be good to have the colours available somewhere else for when userstyles.org dies.

[2020-05-26 20:10] #27 closed, assigned to nobody

[2020-05-26 23:05] legonigel opened #28 "Account settings selected navigation white"
See image below for https://github.com/settings/admin

![image](https://user-images.githubusercontent.com/2592586/82958620-9eee7980-9f6a-11ea-9e80-2e2c6ba0fb75.png)

Appears to be the first selector in the following css setting the background to white
[code]

[2020-05-27 08:23] #28 closed, assigned to nobody

[2020-05-27 08:45] CharlieEtienne commented on #27
Hi @lf- , just so you know the css on github is not broken, it simply uses the userstyles.org system where you can choose from multiple theme (Oceanic, Darker, Palenight). These colors are located directly in userstyles.org

I simply put `/*[[theme]]*/` on the top of `style.css` and it can be automatically replaced with any content in userstyles.org.

The content is related to the chosen theme:

#

[2020-05-27 20:44] legonigel commented on #20
githubs css for this is
[code]

[2020-05-28 18:49] #20 closed, assigned to nobody

[2020-05-28 18:50] CharlieEtienne commented on #20
Thanks to both of you! I think it's fixed. I'm updated it right now on userstyles.org

Charlie

[2020-06-16 18:08] legonigel opened #29 "Timeline comment label unreadable"
Timeline comment labels (such as "Author") are unreadable:
![image](https://user-images.githubusercontent.com/2592586/84811017-0ecbaf00-afc1-11ea-9d25-2cf661e4d930.png)

This is taken from an authors reply to a pull request comment.

My suggestion is to add `.review-comment` to the same place where you set `.comment-body` color, then it would look like this:
![image](https://user-images.githubuser

[2020-06-16 22:07] #29 closed, assigned to nobody

[2020-06-25 23:30] dinhanhx opened #30 "White blocks in github.com/explore"
![image](https://user-images.githubusercontent.com/38489776/85805065-80e88480-b775-11ea-8e65-aaf488a654aa.png)
![image](https://user-images.githubusercontent.com/38489776/85805087-8f36a080-b775-11ea-8be2-07710535f82b.png)

I don't know anything with .css but I guess you should do sth with this thing

![image](https://user-images.githubusercontent.com/38489776/85805425-7c709b80-b776-11ea-87e1-f4c84

[2020-06-26 20:29] quantumgolem opened #31 "GitHub version makes everything white; Userstyles version works properly"
I'm not really sure why this is happening, but the GitHub version makes everything really white, although the Userstyles version makes everything look fine.

Userstyles:

<img width="1280" alt="image" src="https://user-images.githubusercontent.com/24374968/85898420-3a714500-b7ca-11ea-9881-890b17c38762.png">

GitHub raw:

<img width="1278" alt="image" src="https://user-images.githubusercontent.com/

[2020-06-26 20:49] Qwerty-Space opened #32 "List separator request"
Show separators between issues/files

[2020-06-26 22:03] quantumgolem opened #33 "Best GitHub theme"
Just wanted to say that this is the best GitHub theme. You can close this post when you read it, thanks

[2020-06-29 05:12] lf- opened #34 "Active search box has unreadable black text on the new UI"
Thanks for maintaining this theme, it's really nice. I believe I found a bug:

When the cursor is placed in the search box, the foreground text is black and thus unreadable. It appears that GitHub has a separate style for when it is selected, shown below, that is causing the problem.

Problem:
![image](https://user-images.githubusercontent.com/6652840/85975105-0e052680-b98c-11ea-8830-0e22a2852d0b.

[2020-06-29 05:37] lf- opened #35 "Some syntax highlighting ends up black on black"
On line 12:
![image](https://user-images.githubusercontent.com/6652840/85976535-a3ee8080-b98f-11ea-97c8-334c6e2aeddb.png)

Sample problem code: https://github.com/input-output-hk/nix-tools/blob/master/default.nix#L12

It appears that the css classes `pl-pse` and `pl-mi` are not overridden, which define these incorrect colours.

[2020-06-29 21:10] legonigel opened #36 "Project header white"
Project headers are currently white:

![image](https://user-images.githubusercontent.com/2592586/86056392-3afc1c80-ba12-11ea-8361-3a3ceffece84.png)

Not sure where to add it, but the offending selector is `.project-header`

Example:

https://github.com/grafana/grafana/projects/25#card-39005242

[2020-06-29 21:22] legonigel commented on #32
It appears that `.Box:not([style*="background"])` is setting the background to `--bg2` and `.Box-row` `border-top` is also set to `--bg2` so the separators are hidden. One of these probably needs to change color.

[2020-06-30 11:06] CharlieEtienne commented on #31
Hi @sn0wyfall , did you follow the "**How To Install**" [here ](https://github.com/CharlieEtienne/material-github#how-to-use-it)?

[2020-06-30 11:23] ilharp commented on #36
Add the style below can fix it.

[code]

![image](https://user-images.githubusercontent.com/20179549/86120511-0453fe00-bb07-11ea-9c91-0c2d7adffc67.png)

+1 Not sure where to add it but I hope this problem can be fixed as soon as possible.

[2020-06-30 11:56] #36 closed, assigned to nobody

[2020-06-30 12:04] CharlieEtienne commented on #36
Hi, as you can see GitHub has redesigned the UI. This one is fixed, but I have a lot of other things to fix to have a nice UI in the material colors.
You can update and it should work. (Go to Stylus > Manage and update style)

[2020-06-30 12:12] CharlieEtienne commented on #33
Thank you, it's always good to hear! :)

[2020-06-30 12:12] #33 closed, assigned to nobody

[2020-06-30 12:19] #30 closed, assigned to nobody

[2020-06-30 12:25] CharlieEtienne commented on #32
Hi, I'm not sure where to find this problem... Could you post a screenshot maybe?

Thanks,

Charlie

[2020-06-30 14:42] #34 closed, assigned to nobody

[2020-06-30 14:42] #35 closed, assigned to nobody

[2020-07-01 01:11] quantumgolem commented on #31
Hi! My bad, I'm actually using Cascadea (for Safari on macOS) to apply this. So I basically copied the source of the css and imported it into Cascadea. I see that this theme supposedly has settings, so maybe that's why it didn't work.

Maybe I can import the theme in Stylish in Chrome, configure it, and then copy the CSS and paste it in Safari? Do you know where I could view the configured CSS? Wo

[2020-07-01 15:04] CharlieEtienne commented on #31
You could copy the css in https://github.com/CharlieEtienne/material-github/blob/master/material-github.user.css from [line 53](https://github.com/CharlieEtienne/material-github/blob/master/material-github.user.css#L53) to the penultimate line (today [line 1022](https://github.com/CharlieEtienne/material-github/blob/master/material-github.user.css#L1022)) (you'll need to skip last `}` )

Then you'

[2020-07-01 15:04] #31 closed, assigned to nobody

[2020-07-01 15:08] CharlieEtienne commented on #21
Hi,

I made a lot of changes in the last weeks. I encourage you to follow the [Readme](https://github.com/CharlieEtienne/material-github) to update the theme (and use the new system) and tell me if this behaviour is still present.

[2020-07-01 19:25] quantumgolem commented on #31
Wow, thanks a lot! This is super informative, useful, and cool! I'll do this!!

[2020-07-05 23:17] lf- opened #37 "`t` file search has excessively bright highlight on the selected result"
![image](https://user-images.githubusercontent.com/6652840/86544313-c24a0400-beda-11ea-9768-a7304bfee69d.png)

This results in bad contrast on the text. To reproduce, go to the main page of a repository, press the `t` key, and type in part of a file name.

(also, a vertical line is just there because my GPU is dying, nothing to do with the styles 😅)

[2020-07-06 18:12] legonigel commented on #32
Sure. In any issues list there should be a border between the items in the list.

Current:
![image](https://user-images.githubusercontent.com/2592586/86625097-5c608980-bf79-11ea-96c7-fee403938581.png)

With fixed `.Box-row` `border-top`:
![image](https://user-images.githubusercontent.com/2592586/86625187-8619b080-bf79-11ea-83fc-55fc57f2416c.png)

[2020-07-06 18:36] legonigel commented on #37
This is fixed in the latest version.

![image](https://user-images.githubusercontent.com/2592586/86627315-f5dd6a80-bf7c-11ea-8110-c227e5cbe03c.png)

You can update and it should work. (Go to Stylus > Manage and update style)

[2020-07-07 00:43] lf- commented on #37
Are you sure? I just reinstalled it and this happened when I went to the Code tab of this repository, pressed the <kbd>t</kbd> key and typed in some letters:
![image](https://user-images.githubusercontent.com/6652840/86677010-0ce98000-bfb0-11ea-8aff-6fd15db23713.png)

[2020-07-07 00:44] lf- commented on #37
To be clear this is not the site search where I think it was indeed fixed:
![image](https://user-images.githubusercontent.com/6652840/86677329-5a65ed00-bfb0-11ea-9f04-acb7c01dd5f8.png)

[2020-07-07 21:26] loquota opened #38 "Progress Bar foreground and background contrast"
**Selector**
`.task-progress .progress-bar .progress`

**Theme**
`Darker`

**Description**
The contrast between the foreground and background colors of the issue progress bars is very low. It's slightly visible at higher-than-default brightnesses by disappears at lower-than-default.

The progress bars for milestones and projects seems to use a bright green that might be more appropriate.

**Exampl

[2020-07-08 03:26] FrzMtrsprt opened #39 "Detail improvements"
Hi! First of all, thanks for bringing Material Design to Github!

**Folder icons**
![image](https://user-images.githubusercontent.com/15852717/86871042-1687fa80-c10c-11ea-909a-5f466dd6ebdc.png)
I noticed that the folder icons doesn't seem to follow the selected accent color. Is it a bug, or is it simply not included in the theme? It would be really nice if you could theme these icons!

**Tags' fon

[2020-07-08 18:32] legonigel commented on #37
@CharlieEtienne The offending css here is:
[code]

[2020-07-09 06:03] #37 closed, assigned to nobody

[2020-07-09 06:04] CharlieEtienne commented on #37
Hi, thanks to both of you, you can update now.

[2020-07-09 06:15] CharlieEtienne commented on #32
Thank you, I understand now.

I think in material design and material themes in general, most borders and separators tend to disappear. I don't personnaly think adding separators here would improve accessibility or clarity but I will let this issue open and if people vote for your request I will implement it.

Cheers,

Charlie

[2020-07-09 06:31] CharlieEtienne commented on #39
Hi @FrzMtrsprt,

Folder icons color is fixed in https://github.com/CharlieEtienne/material-github/commit/62ab84a0658e10ddc0432c55b3f5b974ae486d0a

About the tags text not being vertically centered, it seems the problem appears without theme active. This comes from github so you could open an issue or PR in GitHub official repo.

I'm going to close this issue but feel free to reopen it if I'm mista

[2020-07-09 06:31] #39 closed, assigned to nobody

[2020-07-09 06:35] CharlieEtienne commented on #21
@Mema5 I'm going to close this issue but feel free to reopen it if you still encounter this problem.

[2020-07-09 06:35] #21 closed, assigned to nobody

[2020-07-09 06:42] CharlieEtienne commented on #38
Hi @loquota ,

Could you provide a link because I don't use Milestones and I can't find a repo using it to test some CSS improvements ?

Thank you,

Charlie

[2020-07-09 18:19] loquota commented on #38
The kubernetes repo has both milestones and projects with visible progress bars, right now.

https://github.com/kubernetes/kubernetes/milestones
https://github.com/kubernetes/kubernetes/projects

[2020-07-11 02:01] Gerrit0 commented on #37
This also seems to be an issue in the notifications area.

[code]

[2020-07-11 13:22] #38 closed, assigned to nobody

[2020-07-11 13:23] CharlieEtienne commented on #38
It's fixed, thanks @loquota

[2020-07-11 13:34] CharlieEtienne commented on #37
Hi @Gerrit0, thanks, it's fixed now. (Please open a new issue next time because it's easier to track)

[2020-07-11 14:56] Gerrit0 opened #41 "Selected notification items are overly bright"
Confirmed that this is still an issue with version 3.2.12.

[code]

Reproduction:
- Have at least one notification
- Go to https://github.com/notifications
- Press `j` to select the first item in the list

![image](https://user-images.githubusercontent.com/19329837/87226893-17ab6880-c354-11ea-9ee8-cf3ddf7acd10.png)

Looks like this fails to override since the background-color setting on line 1043

[2020-07-12 15:21] #41 closed, assigned to nobody

[2020-07-12 15:22] CharlieEtienne commented on #41
Whoops! Of course. It's fixed now ;)

[2020-07-28 10:28] heftig opened #42 "Diff highlighting is not covered"
Highlighting of `diff` syntax is not covered:

[code]

For reference, https://github.com/primer/github-syntax-light/blob/master/lib/github-light.css seems to have all "normal" highlighting rules.

[2020-08-10 13:34] AskAlice opened #44 "SAML SSO text is white"
When authenticating my organization's login with github, the SSO auth text is white.

If you don't have an organization I imagine you might be able to replicate this if you attempt to authenticate an application with your github account.

I tried to request the stylesheet `sso.scss`  located at ` https://github.githubassets.com/app/app/assets/stylesheets/custom/github/sso.scss` but it gave me a 40

[2020-08-16 12:25] Tranberry commented on #18
rename this issue to docs.github.com?

[2020-08-23 02:27] lf- opened #45 "Authorization page has black, unreadable scope names"
![image](https://user-images.githubusercontent.com/6652840/90969432-613bb700-e4ad-11ea-8c2e-a658c1687e75.png)

`.oauth-permission-details .permission-title` has a colour override that is causing the issue.

[2020-09-24 11:07] nyanpasu64 opened #46 "Option to increase text lightness/contrast?"
Right now, Markdown/etc. body text is white with alpha 0.7. I find this color to be a bit darker than I prefer for comfortable reading. Is it possible to add an option to increase the brightness?

I suspect this won't be the easiest to override, since 0.7 appears in several rules which are `!important`. Writing my own userstyle to make text white will require tha I toggle Material Github and my ow

[2020-09-26 14:12] CharlieEtienne commented on #46
Hi @nyanpasu64 , sure, I could add a setting to adjust text brightness. Let me dig into this.
Another quick solution would be to decrease the "Custom theme lightness" setting ; it would result in having more contrast.

Cheers,

Charlie

[2020-09-26 14:33] #46 closed, assigned to nobody

[2020-09-26 14:35] CharlieEtienne commented on #46
@nyanpasu64 I just added an option to increase (or decrease) text brightness. Could you update to v 3.3.0 and tell me if it is what you wanted ?

[2020-09-26 14:54] #42 closed, assigned to nobody

[2020-09-26 16:57] #44 closed, assigned to nobody

[2020-09-26 17:02] CharlieEtienne commented on #44
Hi @AskAlice, and thanks for reporting this.

 I added this code

[code]

It should make background dark.

You can update to last version.

Let me know if it doesn't work.

Cheers,

Charlie

[2020-09-26 17:07] #45 closed, assigned to nobody

[2020-09-26 19:48] nyanpasu64 commented on #46
It seems to basically do what I want. Thanks!

I thought that with Firefox WebRender on, text with `color: rgba(alpha below 1)` would break subpixel antialiasing. However I haven't gotten issues on either WebRender or Chrome. So the current system should be working.

[2020-09-26 20:29] CharlieEtienne commented on #46
Oh I didn't know it could cause that... Let me know if you see this kind of problem

[2020-09-26 20:36] nyanpasu64 commented on #46
If you want to look deeper into it:

https://github.com/servo/webrender/blob/master/webrender/doc/text-rendering.md

I suggest you click on that link and scroll to the bottom. The equations are terrifyingly large ;)

My own testing on Firefox 81 WebRender and Chrome 85:

`<div style="color: rgba(1,1,1,0.5);">uwu</div>` is subpixel in Firefox and Chrome. So material-github is safe.

`<div style="op

[2020-09-27 02:15] TUsama opened #47 "the team page doesn't color completely"
![image](https://user-images.githubusercontent.com/21279092/94354054-e6684c00-00a9-11eb-930b-73aabe846082.png)

the color of the team page seems not right, Is this a bug or something?

[2020-09-27 18:51] CharlieEtienne commented on #47
Hi @TUsama ,

I don't use GitHub teams so I can't know the right css selector to add... Could you find the selector with white background for me ?

Thanks,

Charlie

[2020-09-28 00:58] TUsama commented on #47
Sorry, Charlie, I don't have any program learning experience, what I can do is only to give you some information which may help you dig in this:

Charlie
![image](https://user-images.githubusercontent.com/21279092/94380168-fdb93f00-0166-11eb-9c5f-fc9defc81ead.png)

It's the picture of the corresponding part.

the code is here:

https://paste.ubuntu.com/p/qJZHMRPnpX/

I hope this can help you.

[2020-10-10 13:03] MV10 opened #48 "Editing PR diff-review comments"
Hello Charlie,

First I want to thank you -- this stylesheet is an eyeball-saver with large monitors! I really appreciate the effort you've put into it. (I personally hate CSS, so that makes me appreciate it even more! 😁 )

It seems there's an issue with editing PR diff-review comments. Notice the white border when editing, and the preview tab is completely whited out. This just started happening

[2020-10-17 21:01] #48 closed, assigned to nobody

[2020-10-17 21:02] CharlieEtienne commented on #48
Thanks for the kind words! It should be fixed now, you can update

[2020-10-24 02:36] Pablete1234 opened #49 "Comment editor has white background"
As you can appreciate, there's a white background to the dialog for issue/pr creation or adding comments to existing issues/prs
![image](https://user-images.githubusercontent.com/11789291/97066074-75398d00-15b2-11eb-88b0-a912d8d6b5ca.png)

[2020-10-26 10:38] #49 closed, assigned to nobody

[2020-10-27 09:15] jim-barber-he opened #50 "The title bar on each changed file is misaligned."
It looks like GitHub changed something since this is a very recent issue.
I've updated to the latest Material Dark GitHub theme but unfortunately the problem persists.

With the Stylus theme disabled, the title-bars or headers (I don't know what to call them) for each file is properly aligned at the top:
![image](https://user-images.githubusercontent.com/38272327/97280746-a5658200-1877-11eb-8580-7

[2020-10-27 09:50] CharlieEtienne commented on #50
Hi @jim-barber-he , unfortunately, I can't reproduce... Do you have a public link where I could see it in action ?

Thanks,

Charlie

[2020-10-27 10:03] jim-barber-he commented on #50
I'm seeing it on this page for example:
https://github.com/aws/eks-charts/pull/286/files

I'm using Stylus in Firefox on Debian Linux (stable version).
Firefox was installed via the Debian package called firefox-esr at version 78.4.0esr-1~deb10u2

[2020-10-27 10:35] #50 closed, assigned to nobody

[2020-10-27 10:41] CharlieEtienne commented on #50
@jim-barber-he It should be fixed now. I introduced this bug in a recent commit.

Thanks,

Charlie

[2020-10-28 00:27] jim-barber-he commented on #50
Confirmed that it is fixed.
Thank you for such a useful theme.

[2020-10-29 20:54] FadeMind opened #52 "GPG Verified sign unreadable, title border white."
Launch sample: `https://github.com/l1ving/youtube-dl/commit/c438ea87e4db650f5c44526b155ea335ea49d006` (coded against reference)

@CharlieEtienne  see
![20201029-1604004752-001](https://user-images.githubusercontent.com/9846948/97631345-1a2fec00-1a31-11eb-918c-24dc2f3d9740.png)
![20201029-1604004695-001](https://user-images.githubusercontent.com/9846948/97631346-1ac88280-1a31-11eb-9519-2d395aca065a

[2020-10-29 21:22] #52 closed, assigned to nobody

[2020-10-29 21:23] CharlieEtienne commented on #52
Fixed! You can update @FadeMind

Thanks for reporting this issue

[2020-10-30 02:25] minhduc0711 opened #53 "Unreadable bold/italic markdown text when reviewing PRs"
This happens in the "Files changed" tab of a Pull request page.
* Original
![image](https://user-images.githubusercontent.com/34294427/97652770-c73a5100-1a91-11eb-8fc2-e31fdf42b2f8.png)
* Material
![image](https://user-images.githubusercontent.com/34294427/97652672-88a49680-1a91-11eb-9478-483d6a029ac8.png)

[2020-10-30 08:36] CharlieEtienne commented on #53
Should be fixed.

Thanks,

Charlie

[2020-10-30 09:47] minhduc0711 commented on #53
Thank you very much for the quick fix, but italic texts are still bad tho. The corresponding class would be `pl-mi` I think.

![image](https://user-images.githubusercontent.com/34294427/97690273-587be880-1acf-11eb-8e4c-7eb81e628131.png)

[2020-10-31 23:47] #53 closed, assigned to nobody

[2020-10-31 23:48] CharlieEtienne commented on #53
whoops! should be good now.

Thanks!

[2020-11-04 07:06] FadeMind opened #54 "Settings > menus > white"
@CharlieEtienne

![20201104-1604473397-001](https://user-images.githubusercontent.com/9846948/98079706-8c129600-1e74-11eb-92c1-f44a5646ad5d.png)
![20201104-1604473419-001](https://user-images.githubusercontent.com/9846948/98079705-8b79ff80-1e74-11eb-9c7a-c56ab55d567d.png)
![20201104-1604473471-001](https://user-images.githubusercontent.com/9846948/98079703-8ae16900-1e74-11eb-90ad-49f37c60ca1d.png)

[2020-11-04 15:19] #54 closed, assigned to nobody

[2020-11-06 07:28] TUsama opened #55 "GitHub home page can not show properly"
![image](https://user-images.githubusercontent.com/21279092/98338154-b2872b80-2044-11eb-936f-232892b819ed.png)

[2020-11-06 08:49] FadeMind commented on #55
![20201106-1604652341-001](https://user-images.githubusercontent.com/9846948/98345718-5527b600-2015-11eb-9e27-46535e5beef7.png)

[2020-11-06 11:43] #55 closed, assigned to nobody

[2020-11-06 11:47] CharlieEtienne commented on #55
It should be fixed.

It seems that github is currently replacing some colors by vars, which is making theming more simple but also causes a lot of bugs in the theme these days. I do my best to keep it up to date.

Thanks,

Charlie

[2020-11-06 14:12] trossr32 opened #56 "Organization sidebar isn't correctly styled"
Currently when viewing an organization's settings the sidenav menu is incorrectly styled:

![image](https://user-images.githubusercontent.com/332954/98375223-c0837f00-2039-11eb-8bb5-f5501f7c122c.png)

I have fixed this by duplicating .menu and .menu-item classes with .SideNav and .SideNav-item classes:

![image](https://user-images.githubusercontent.com/332954/98375479-0e988280-203a-11eb-8fcb-93e1

[2020-11-06 14:14] trossr32 commented on #56
See pull request #57

[2020-11-06 15:36] CharlieEtienne commented on #56
Hi @trossr32, I fixed this issue 2 days ago in v3.3.18 (https://github.com/CharlieEtienne/material-github/commit/6455dab0344cf2706a8931f1e0894eff8d6a37b4). Did you update to the last version ?

[2020-11-06 16:16] trossr32 commented on #56
My apologies, I was on 3.3.17. I'll close this issue.

Thanks for creating and maintaining this repo!

[2020-11-06 16:16] #56 closed, assigned to nobody

[2020-11-06 17:29] FadeMind commented on #47
@CharlieEtienne
![20201106-1604683704-001](https://user-images.githubusercontent.com/9846948/98396458-081c0200-205e-11eb-876f-f33b6a2ea88d.png)
![20201106-1604683629-001](https://user-images.githubusercontent.com/9846948/98396461-08b49880-205e-11eb-8ae2-65afdb1bce0a.png)

[2020-11-06 20:09] CharlieEtienne commented on #47
@FadeMind do you mean I involuntarily fixed the team page?! 😄

[2020-11-06 20:11] FadeMind commented on #47
@CharlieEtienne

Now you get access 😁 (if @funilrys grant).

EDIT: it is fixed partiarly.

[2020-11-06 20:22] FadeMind commented on #47
@CharlieEtienne

![20201106-1604694067-001](https://user-images.githubusercontent.com/9846948/98411368-37d70400-2076-11eb-9935-6ea9c7910e00.png)
![20201106-1604694023-001](https://user-images.githubusercontent.com/9846948/98411373-39083100-2076-11eb-880a-52756e4f6287.png)
![20201106-1604693960-001](https://user-images.githubusercontent.com/9846948/98411376-39083100-2076-11eb-96e1-462f29f25219.png)

[2020-11-06 20:24] CharlieEtienne commented on #47
oh that's nice I wasn't sure. Actually I have an GitHub organization and I just figured I could create a team inside. So I won't need to use yours. But that's very nice to you.

I saw some color problems and I'm currently fixing them.

Thanks,

Charlie

[2020-11-06 20:27] FadeMind commented on #47
@CharlieEtienne results strong ARE unreadable BLACK here. see code above your reply.

[2020-11-06 20:29] CharlieEtienne commented on #47
I'm on it.

[2020-11-06 20:30] FadeMind commented on #47
@CharlieEtienne Correction:
[code]
CSS
[code]

![20201106-1604694667-001](https://user-images.githubusercontent.com/9846948/98411991-699c9a80-2077-11eb-96e0-0fbe43fee1b5.png)

[2020-11-06 20:35] FadeMind commented on #47
@CharlieEtienne GOT IT

![20201106-1604694853-001](https://user-images.githubusercontent.com/9846948/98412214-d879f380-2077-11eb-8987-d9ea3a9142b3.png)

[code]
disabling
[code]

[2020-11-06 20:36] #47 closed, assigned to nobody

[2020-11-06 20:38] CharlieEtienne commented on #47
Should be fixed!

@FadeMind All you need here is to redefine `--color-text-primary` 😉

[2020-11-06 20:39] FadeMind commented on #47
@CharlieEtienne nice blur
![20201106-1604695140-001](https://user-images.githubusercontent.com/9846948/98412607-8a192480-2078-11eb-8c0d-935baa8eddb8.png)

Thanks 🚀

[2020-11-06 20:42] CharlieEtienne commented on #47
Mmh I should fix this white shadow...

[2020-11-06 20:46] FadeMind commented on #47
![20201106-1604695513-001](https://user-images.githubusercontent.com/9846948/98413121-64404f80-2079-11eb-8448-00e7552bc35c.png)
[code]

@CharlieEtienne

[2020-11-06 20:52] CharlieEtienne commented on #47
https://github.com/CharlieEtienne/material-github/commit/37767f410c7b686c62b466117ce709f027d5e8a5

[2020-11-06 21:13] CharlieEtienne commented on #32
I close this issue due to inactivity, feel free to reopen it if needed.

[2020-11-06 21:13] #32 closed, assigned to nobody

[2020-11-06 22:41] #18 closed, assigned to nobody

[2020-11-07 02:14] TUsama commented on #47
wow, thank you so much Charlie!

[2020-11-10 11:50] minhduc0711 opened #58 "Dark background for jupyter notebooks"
Would be great if the background of notebooks can be dark as well

![image](https://user-images.githubusercontent.com/34294427/98670620-87267880-2385-11eb-8c05-5207b1aa080b.png)

[2020-11-10 16:04] CharlieEtienne commented on #58
Sure! (That's the first time I see this part of GitHub 😄!)

[2020-11-10 19:53] #58 closed, assigned to nobody

[2020-11-20 00:41] LunaLycan287 opened #61 "Issue with "Available filters" heading in notifications"
Currently the headline looks like this with the text having no padding to the side:
![grafik](https://user-images.githubusercontent.com/1161223/99740005-55708880-2ace-11eb-8375-78b9d91e6477.png)

In normal github this is okay because it's all white:
![grafik](https://user-images.githubusercontent.com/1161223/99740055-7933ce80-2ace-11eb-8f29-db978eabdd43.png)

Issue in line 165 "div.border.rounded-

[2020-11-20 08:13] CharlieEtienne commented on #61
Hi @Moonwolf287, second option is great!

[2020-11-24 12:40] FrzMtrsprt commented on #39
Hi @CharlieEtienne!
I noticed that the folder colors are not working again, it appears that Github has changed the folder color from `color-blue-3` to `color-files-explorer-icon`. Hope this will be fixed, thx!

[2020-11-24 20:51] CharlieEtienne commented on #39
Hi @FrzMtrsprt , actually it has been fixed in d06936d55ed7516afb046c0b0d284b5f306f67e5, so you can update and it should work!

[2020-11-25 01:22] FrzMtrsprt commented on #39
Now it works, thx!

[2020-12-04 10:32] CharlieEtienne commented on #61
@Moonwolf287 are you going to make a PR for that one?

[2020-12-09 11:24] FadeMind opened #63 "Official Dark"
@CharlieEtienne
![20201209-1607513012-001](https://user-images.githubusercontent.com/9846948/101623923-72d3ab00-3a19-11eb-921a-7f14260eae9c.png)
![20201209-1607512990-001](https://user-images.githubusercontent.com/9846948/101623925-736c4180-3a19-11eb-8f24-c4df9d2d0c94.png)

[2020-12-10 18:11] CharlieEtienne commented on #63
Haha, pretty neat! But it breaks some part of this theme... I will dive into it tonight.

[2020-12-23 12:32] funilrys commented on #47
My bad. Permission will be granted as soon as you accept it.

[2020-12-26 23:39] #63 closed

[2021-01-20 02:47] jim-barber-he opened #65 "Some page backgrounds are white again."
Once again thank you for this awesome theme! :)

This problem only started happening for me today, so GitHub has changed something I guess.
A number of pages in GitHub are starting to have white backgrounds shine through.

Example
![image](https://user-images.githubusercontent.com/38272327/105120104-91df5580-5b0c-11eb-9754-9f7993864185.png)

Even this issues page has a big block of white at the bo

[2021-01-20 02:49] jim-barber-he commented on #65
The first example image didn't post, so trying again:
![image](https://user-images.githubusercontent.com/38272327/105120415-29dd3f00-5b0d-11eb-8ab8-d6d9c5a4d903.png)

[2021-01-22 17:16] GreatestFool commented on #65
Experiencing the same thing, seems like pages don't stretch properly.

E.g. [this file](https://github.com/Kethku/neovide/blob/main/.ok) has this problem but [this one](https://github.com/Kethku/neovide/blob/main/LICENSE) does not.

As a temporary fix, at least to make it look not-eye-bleeding-inducing at least, I activated dark mode under Appearance settings on my account. Works well enough :)

[2021-02-28 13:26] ripdog opened #66 "Issue titles invisible and repo name background white"
Hi there, thanks for the stylesheet.

Looks like github has pushed an update.
![Screen Shot 2021-03-02 at 02 24 15-fullpage](https://user-images.githubusercontent.com/174944/109420058-5f8f1500-7a35-11eb-8fcb-c18468d74b29.png)

As you can see Issue titles are the same colour as their backgrounds, and the background behind the repository name is white.

Also the page below the github footer is white

[2021-02-28 13:27] ripdog commented on #66
Just noticed that the comment buttons below the issue comment box (the one I'm typing in now) and the notice about attaching files are miscoloured. Also the title of the issue ('ripdog commented 1 minute ago') is miscoloured.

[2021-02-28 21:54] Nakonana commented on #66
If I may add to this: the grey text below the issues and in the pop-up that appears when hovering over the issue title are hard to read. The issue-link on hover appears dark blue on dark ground which is also a bit tricky.

As for fixes, issue titles become visible by changing text color for `.Link--primary, .link-gray-dark` and `.Link--primary:hover, .link-gray-dark:hover` , but I'm not sure (yet)

[2021-04-30 09:52] tanujp99 commented on #66
This is because GitHub has added the light-and-dark theme setting, and changing this setting to darker theme resolved both the issues.

edit: grammar

[2021-04-30 09:52] tanujp99 commented on #65
This is because GitHub has added the light-and-dark theme setting, and changing this setting to darker theme resolved the issues.

[2021-04-30 16:26] GreatestFool commented on #65
Yes, that should be rather obvious in and of itself.

[2021-05-03 00:23] jim-barber-he commented on #65
GitHub's Dark theme isn't very nice though IMO.
The theme provided by this style is much nicer.

[2021-05-03 15:52] GreatestFool commented on #65
Well, yes, that was why I said _as a temporary fix_. I'm rather sure few, including myself, want to have the clashing themes but it is still better than material and white-theme github clashing while we wait for an updated version.

[2022-08-31 03:40] sujaldev opened #68 "Only works when signed in"
Does not work when I am not signed in. I have some reason to not sign in to GitHub so I was wanting to use this theme as a dark mode for when I am not logged in as GitHub defaults to light mode for me (system wide theme does not work on my os).

Thanks for this amazing theme.